* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;;
    color: var(--text);
}

:root {
    --font-header: "Sedan", serif; 
    --std-padding: 20px;
    --bgcolor: #FF9F1C;
    --primary: #2cb8aa;
    --text: #2A2B2A;
}

body {
    background-color: var(--bgcolor);
    display: grid;
}

header {
    display: grid;
    justify-content: center;
    padding: var(--std-padding) var(--std-padding) 0 var(--std-padding);
}

header .header-btn {
    border: 0;
    background-color: var(--primary);
    padding: 8px 60px;
    color: var(--text);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: inset 4px -4px #20857c;
}

header .header-btn:active {
    box-shadow: none;
}

#content {
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 3fr auto 2fr; */
}

.content-left {
    display: grid;
    padding: 0 var(--std-padding) var(--std-padding) var(--std-padding);
}

.content-left {
    gap: 5px;
}

.middle-line {
    width: 8px;
    background-color: #E71D36;
    margin: 30px 0;
    border-radius: 20px;
}

.content-right {
    display: flex;
    flex-direction: column;
    padding: var(--std-padding);
    padding-top: var(--std-padding);
    gap: 20px;
}

.restaurant-name {
    font-size: 6rem;
    font-family: var(--font-header);
    text-shadow: 3px 3px 2px #C3BABA;
}

.guests {
    display: grid;
    gap: 10px;
}

.guests .restro-pic {
    padding: 0 20px 0 0;
}

.guests img {
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623);
}

.guests-title {
    font-size: 2rem;
}

.guests .description {
    font-size: 1.1rem;
}

.service-header,
.extra-header {
    font-family: var(--font-header);
    font-weight: bold;
}

.service-header {
    font-size: 2rem;
}

.service-description {
    font-size: 1.2rem;
}

.service-list {
    list-style-type: none;
    display: grid; 
    padding: 5px 0 0 0;
    font-size: 1.1rem;
}

.service-list li::before {
    content: '>';
    padding-right: 10px;
    font-weight: bold;
}

.extra-header {
    font-size: 2rem;
}

.extra-content {
    font-size: 1.1rem;
}
